body {
    margin: 1rem;
    background-color: antiquewhite;
 }
  
 #profile-container{
    max-width: 300px;
    background-color: white;
    border: 1px solid whitesmoke;
    border-radius: 6px;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    
 }
  
 .img-profile, h2{
    width: auto;
    height: auto;

    text-align: center;
    
    display: block;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
 }
  
 #profile-name{
    text-align: center;
}

#footer {
    height: 50px;
    line-height: 50px;
    background-color: burlywood;
    text-align: center;
    color: white;
    margin: 1rem;
 }
 